In [1]:
from process_data import DataHandler

Using TensorFlow backend.

In [2]:
s = DataHandler("../data/training_hindi_NER.utf8")

In [3]:
s.get_data()[0].shape

(4501, 191, 50)

In [4]:
from NER_model import NER

In [5]:
m = NER(s)

In [6]:
m.make_and_compile()

____________________________________________________________________________________________________
Layer (type)                     Output Shape          Param #     Connected to
====================================================================================================
bidirectional_1 (Bidirectional)  (None, 191, 300)      241200      bidirectional_input_1[0][0]
____________________________________________________________________________________________________
timedistributed_1 (TimeDistribut (None, 191, 12)       3612        bidirectional_1[0][0]
____________________________________________________________________________________________________
dropout_1 (Dropout)              (None, 191, 12)       0           timedistributed_1[0][0]
====================================================================================================
Total params: 244,812
Trainable params: 244,812
Non-trainable params: 0
____________________________________________________________________________________________________
None

In [7]:
# m.train()
m.train(epochs=10)

Epoch 1/10
3615/3615 [==============================] - 47s - loss: 3.3680 - acc: 0.7882
Epoch 2/10
3615/3615 [==============================] - 41s - loss: 3.2641 - acc: 0.7951
Epoch 3/10
3615/3615 [==============================] - 40s - loss: 3.2519 - acc: 0.7956
Epoch 4/10
3615/3615 [==============================] - 41s - loss: 3.2480 - acc: 0.7957
Epoch 5/10
3615/3615 [==============================] - 41s - loss: 3.2443 - acc: 0.7959
Epoch 6/10
3615/3615 [==============================] - 41s - loss: 3.2347 - acc: 0.7966
Epoch 7/10
3615/3615 [==============================] - 41s - loss: 3.2407 - acc: 0.7962
Epoch 8/10
3615/3615 [==============================] - 40s - loss: 3.2370 - acc: 0.7965
Epoch 9/10
3615/3615 [==============================] - 40s - loss: 3.2586 - acc: 0.7951
Epoch 10/10
3615/3615 [==============================] - 40s - loss: 3.2548 - acc: 0.7954

In [8]:
m.evaluate()

/home/divesh_pandey/anaconda2/envs/keras_tensorflow/lib/python2.7/site-packages/sklearn/metrics/classification.py:1113: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

             precision    recall  f1-score   support

        NEA       0.00      0.00      0.00         8
        NED       0.00      0.00      0.00        36
        NEL       0.62      0.16      0.26       191
        NEM       0.00      0.00      0.00        24
        NEN       0.61      0.22      0.32       195
        NEO       0.00      0.00      0.00        32
        NEP       0.57      0.18      0.27       177
       NETE       0.00      0.00      0.00       159
       NETI       0.00      0.00      0.00        67
       NETO       0.00      0.00      0.00        40
          O       1.00      1.00      1.00    168297

avg / total       0.99      0.99      0.99    169226

['NEA', 'NED', 'NEL', 'NEM', 'NEN', 'NEO', 'NEP', 'NETE', 'NETI', 'NETO', 'O'] 11
[[     0      0      0      0      0      0      0      0      0      0
       8]
 [     0      0      0      0      0      0      2      0      0      0
      34]
 [     0      0     31      0      0      0      3      0      0      0
     157]
 [     0      0      0      0      1      0      0      0      0      0
      23]
 [     0      0      0      0     43      0      0      0      0      0
     152]
 [     0      0      1      0      0      0      0      0      0      0
      31]
 [     0      0      0      0      0      0     31      0      0      0
     146]
 [     0      0      0      0      0      0      1      0      0      0
     158]
 [     0      0      6      0      1      0      0      0      0      0
      60]
 [     0      0      0      0      1      0      3      0      0      0
      36]
 [     0      0     12      0     25      0     14      0      0      0
  168246]]

      NEA  NED  NEL  NEM  NEN  NEO  NEP  NETE  NETI  NETO       O
NEA     0    0    0    0    0    0    0     0     0     0       8
NED     0    0    0    0    0    0    2     0     0     0      34
NEL     0    0   31    0    0    0    3     0     0     0     157
NEM     0    0    0    0    1    0    0     0     0     0      23
NEN     0    0    0    0   43    0    0     0     0     0     152
NEO     0    0    1    0    0    0    0     0     0     0      31
NEP     0    0    0    0    0    0   31     0     0     0     146
NETE    0    0    0    0    0    0    1     0     0     0     158
NETI    0    0    6    0    1    0    0     0     0     0      60
NETO    0    0    0    0    1    0    3     0     0     0      36
O       0    0   12    0   25    0   14     0     0     0  168246

In [12]:
m.predict_tags("इन्होंने भारतीय आर्य भाषा तथा द्रविड़ भाषाओं का व्याकरण नामक अन्य महत्वपूर्ण ग्रन्थ भी लिखे हैं ।")

इन्होंने/O
भारतीय/O
आर्य/O
भाषा/O
तथा/O
द्रविड़/O
भाषाओं/O
का/O
व्याकरण/O
नामक/O
अन्य/O
महत्वपूर्ण/O
ग्रन्थ/O
भी/O
लिखे/O
हैं/O
।/O

In [13]:
m.model.save("./first_hindi_model")

In [ ]:
from keras.models import load_model
m.model = load_model("./first_hindi_model")

In [ ]:
from get_word_vectors import get_word_vector
s = get_word_vector("द्रविड़")